@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

@media only screen and (min-width: 870px) {
  .container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: hsl(185, 41%, 84%);
    height: 100vh;
    justify-content: space-evenly;
    font-family: "Space Mono", monospace;
    margin: 0 auto;
  }

  .tipbox {
    min-width: 865px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    min-height: 48vh;
    display: flex;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 869px) {
  .container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: hsl(185, 41%, 84%);
    height: 920px;
    justify-content: space-evenly;
    font-family: "Space Mono", monospace;
    margin: 0 auto;
  }

  .tipbox {
    width: 375px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    height: 85%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
  }
}
